<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDs0kiY4geaLlP4k89MksJbNHDoQfmTpCk</string>
	<key>GCM_SENDER_ID</key>
	<string>1005044261387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orthocareinnovations.smartpo</string>
	<key>PROJECT_ID</key>
	<string>smart-po-7583a</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-po-7583a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005044261387:ios:cf6780d28ee16112d0dd0e</string>
</dict>
</plist>